# Godot 4.x — Viajero del Tiempo
.godot/
.import/
export.cfg
exports/builds/
exports/debug/

# Builds
*.exe
*.pck
*.zip
*.tpz
*.aab
*.apk

# OS / Editor
.DS_Store
Thumbs.db
*~
*.tmp
*.bak
*.orig

# Logs
logs/
debug.log

# Local env (nunca commitear saves reales ni credenciales)
.env
user_data/
